<div class="details">
  <%= link_to 'Download zip', "#{params[:id]}/download" %>
  <br>
  <div class="password_details">
    Password: <span id="password"><%= flash[:password] %></span>
  </div>
</div>